<audio id="stream" src=""></audio>

<footer class="page-footer effect7 lighten-5 stiky">
  <div class="row">
    <div class="col s5 center">
      <h4 id="station_name" class="flow-text blue-text"></h4>
    </div>
    <div class="col s2 center">
      <a class="waves-effect waves-light">
        <i id="btn_play" class="material-icons medium blue-text">play_circle_outline</i>
      </a>

    </div>
    <div class=" col s1">
      <i class="material-icons medium blue-text">volume_mute</i>
    </div>
    <div class="col s3">
      <p class="range-field">

        <input type="range" id="volume_range" min="0" max="100" onchange="set_volume()" />
      </p>
    </div>
    <div class="col s1 left">
      <i class="material-icons medium blue-text">volume_up</i>
    </div>
  </div>
</footer>
