extends layout

block menu
  div(class='nav-wrapper')
    div(class='input-field col s1')
    ul(id='slide-out', class='side-nav')
      li(disabled) Радио станции:
      each station in stations
        li(class='flow-text')
          a(href='#') #{station.country} - #{station.title}
    a(href='#', data-activates='slide-out', class='button-collapse show-on-large')
      i(class='mdi-navigation-menu blue-text')

block content
  h5 Streams page



